@media only screen and (max-width: 600px){
    form input{
        width: 99%;

    }
    .card {
        display: block;
        align-items: center;
        text-align: center;
        width: 85%;
        margin: auto;
        padding: 25px;
    }
}